eaw-build/data/config/v2/eaw-build.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/eaw-build" xmlns:eaw="http://www.example.org/eaw-build" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="ModDescriptionType">
        <xsd:sequence maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="1" name="Summary" type="eaw:StringType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="eaw:StringType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModNameType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShortName" type="eaw:StringType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="LongName" type="eaw:StringType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModVersionType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Major" type="eaw:IntegerType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Minor" type="eaw:IntegerType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Patch" type="eaw:IntegerType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Build" type="eaw:IntegerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModInfoType">
        <xsd:annotation>
            <xsd:documentation>Generic information about the mod project.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="eaw:ModNameType">
                <xsd:annotation>
                    <xsd:documentation>The mod's name information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="eaw:ModDescriptionType">
                <xsd:annotation>
                    <xsd:documentation>The mod's base description and summary.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Version" type="eaw:ModVersionType">
                <xsd:annotation>
                    <xsd:documentation>The current mod version.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="IconPath" type="eaw:StringType">
                <xsd:annotation>
                    <xsd:documentation>The relative path to the mod's icon.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SteamMetaData" type="eaw:SteamMetaDataType">
                <xsd:annotation>
                    <xsd:documentation>Steam-related metadata.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModProjectType">
        <xsd:annotation>
            <xsd:documentation>A basic mod project.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ModInfo" type="eaw:ModInfoType">
                <xsd:annotation>
                    <xsd:documentation>Meta-information about the mod.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="BuildSettings" type="eaw:BuildSettingsType">
                <xsd:annotation>
                    <xsd:documentation>Build-system related information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ModProject" type="eaw:ModProjectType"/>
    <xsd:simpleType name="SteamFileIdType">
        <xsd:annotation>
            <xsd:documentation>The mod's Steam ID.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d+"/>
            <xsd:minLength value="1"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SteamVisibilityType">
        <xsd:annotation>
            <xsd:documentation>Determines the workshop item visibility.
                0: Private
                1: Friends-only.
                2: Public
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SteamTagType">
        <xsd:annotation>
            <xsd:documentation>Additional Steam tags to classify the mod.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SinglePlayer"/>
            <xsd:enumeration value="Multiplayer"/>
            <xsd:enumeration value="Land"/>
            <xsd:enumeration value="Space"/>
            <xsd:enumeration value="Campaign"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="SteamMetaDataType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="PublishedFileId" type="eaw:SteamFileIdType">
                <xsd:annotation>
                    <xsd:documentation>The mod's Steam ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Visibility" type="eaw:SteamVisibilityType">
                <xsd:annotation>
                    <xsd:documentation>Determines the workshop item visibility.
                        0: Private
                        1: Friends-only.
                        2: Public
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="GameMode" type="eaw:SteamGameModeType">
                <xsd:annotation>
                    <xsd:documentation>Determines if a mod is targeting Empire at War or Forces of Corruption.
                        EAW: Empire at War
                        FOC: Forces of Corruption.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Tags" type="eaw:SteamTags">
                <xsd:annotation>
                    <xsd:documentation>Additional Steam tags to classify the mod.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="ContentFolder" type="eaw:StringType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalMetaData" type="eaw:StringType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SteamGameModeType">
        <xsd:annotation>
            <xsd:documentation>Determines if a mod is targeting Empire at War or Forces of Corruption.
                EAW: Empire at War
                FOC: Forces of Corruption.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EAW"/>
            <xsd:enumeration value="FOC"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="DirectoryType">
        <xsd:annotation>
            <xsd:documentation>A directory definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="DirectoryPath" type="eaw:DataPathType">
                <xsd:annotation>
                    <xsd:documentation>A relative path to a directory starting at the mod's data directory.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="FileSearchPattern" type="eaw:EaWFilePatternType">
                <xsd:annotation>
                    <xsd:documentation>A optional file search pattern, e.g. *.xml</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Recursive" type="eaw:BooleanType">
                <xsd:annotation>
                    <xsd:documentation>Should sub-directories be included?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DirectoriesType">
        <xsd:annotation>
            <xsd:documentation>A list of directories.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Directory" type="eaw:DirectoryType">
                <xsd:annotation>
                    <xsd:documentation>A list of directories.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FilesType">
        <xsd:annotation>
            <xsd:documentation>A list of files.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="File" type="eaw:DataPathType">
                <xsd:annotation>
                    <xsd:documentation>A list of relative paths to files.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BundleContentType">
        <xsd:annotation>
            <xsd:documentation>The content of a MEG file.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Directories" type="eaw:DirectoriesType">
                <xsd:annotation>
                    <xsd:documentation>A list of directories to include.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Files" type="eaw:FilesType">
                <xsd:annotation>
                    <xsd:documentation>A list of files to include.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BundleType">
        <xsd:annotation>
            <xsd:documentation>A MEG-Package definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="eaw:BundleNameType">
                <xsd:annotation>
                    <xsd:documentation>The name of the MEG file.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Content" type="eaw:BundleContentType">
                <xsd:annotation>
                    <xsd:documentation>The content of the MEG file.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BundleDefinitionsType">
        <xsd:annotation>
            <xsd:documentation>MEG-Package definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Bundle" type="eaw:BundleType">
                <xsd:annotation>
                    <xsd:documentation>MEG-Package definitions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CookSettingsType">
        <xsd:annotation>
            <xsd:documentation>Cooking information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="OutputDirectory" type="eaw:StringType">
                <xsd:annotation>
                    <xsd:documentation>The relative path to move the cooked files to.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="BundleDefinitions" type="eaw:BundleDefinitionsType">
                <xsd:annotation>
                    <xsd:documentation>MEG-Package definitions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="MoveDefinitions" type="eaw:MoveDefinitionsType">
                <xsd:annotation>
                    <xsd:documentation>Defines items that need to be moved during cooking (e.g. splash screens or text
                        files) and cannot be packed into MEG files.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MoveDefinitionsType">
        <xsd:annotation>
            <xsd:documentation>Defines items that need to be moved during cooking (e.g. splash screens or text files)
                and cannot be packed into MEG files.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Directories" type="eaw:DirectoriesType">
                <xsd:annotation>
                    <xsd:documentation>Directories that need to be moved during cooking.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Files" type="eaw:FilesType">
                <xsd:annotation>
                    <xsd:documentation>Files that need to be moved during cooking.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BuildSettingsType">
        <xsd:annotation>
            <xsd:documentation>Build-system related information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="LocalisationSettings" type="eaw:LocalisationSettingsType">
                <xsd:annotation>
                    <xsd:documentation>Localisation-related information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="CookSettings" type="eaw:CookSettingsType">
                <xsd:annotation>
                    <xsd:documentation>Cooking information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LocalisationProjectVersionType">
        <xsd:annotation>
            <xsd:documentation>The localisation project version:
                v1 if generated by the eaw-texteditor.
                v2 if generated by the eaw-buildtool.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="v1"/>
            <xsd:enumeration value="v2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="LocalisationSettingsType">
        <xsd:annotation>
            <xsd:documentation>Localisation-related information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="LocalisationProjectFile" type="eaw:StringType">
                <xsd:annotation>
                    <xsd:documentation>The relative path to the localisation project.
                        Usually either data/text/translationmanifest.xml or data/text/localisation.xml
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="LocalisationProjectVersion" type="eaw:LocalisationProjectVersionType">
                <xsd:annotation>
                    <xsd:documentation>The localisation project version:
                        v1 if generated by the eaw-texteditor.
                        v2 if generated by the eaw-buildtool.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DataPathType">
        <xsd:annotation>
            <xsd:documentation>A relative path starting from the mod's data directory.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="65535"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="data/.+"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EaWFilePatternType">
        <xsd:annotation>
            <xsd:documentation>A file search pattern, e.g. *.xml</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\*|(\*)(\.)(\w+))"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BundleNameType">
        <xsd:annotation>
            <xsd:documentation>The name of a MEG file.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="(\w+|\w+_\w+|\w+-\w+)+"/>
            <xsd:maxLength value="127"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="IntegerType">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    <xsd:simpleType name="BooleanType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:complexType name="SteamTags">
        <xsd:annotation>
            <xsd:documentation>Additional Steam tags to classify the mod.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Tag" type="eaw:SteamTagType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
